@page
@model ZealandPetShop.Pages.Login.LogoutModel
@{
}
<h1>Logout</h1>
<p> Er du sikker på at du vil logge ud?</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Ja</button>
    <a class="btn btn-primary" asp-page="index">Nej</a>
</form>