@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>


    <div class="image-container">

        <img class= "forside-image" @* id="image-forside *@" src="images/forsidepetsreal.png" alt="Image 1" />
        <div class="text-overlay">
             <h3>Vi har alt dit kæledyr har brug for!</h3>
             <br/>
             
            <a asp-page="/Item/GetAllItems" class="btn btn-primary" id="btn-shopping"><b>Start Shopping</b></a>


           
        </div>
    </div>
</body>