@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="image-container">

        <img class= "forside-image" @* id="image-forside *@" src="images/forsidepetsreal.png" alt="Image 1" />
        <div class="text-overlay">
             <p>Se alle vores produkter her!" </p>
        </div>
    </div>
</body>