@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="image-container">

        <img class= "forside-image" @* id="image-forside *@" src="images/forsidepetsreal.png" alt="Image 1" />
        <div class="text-overlay">
             <h3>Vi har alt dit kæledyr har brug for!</h3>
             <br/>
             
            <a asp-page="/Item/GetAllItems" class="btn btn-primary" id="btn-shopping">Start Shopping</a>
           
        </div>
    </div>
</body>